/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html,
body {
  height: 100%;
}

body {
  --sidebar-width: 320px;
  display: grid;
  /* In a narrow window, the header may be too wide
     for a reduced size grid and expand outside of the grid.
     A minimum width is needed on the flexible column to
     give it a definite size so it will also expand outside
     of the grid if necessary, to match the header. */
  grid-template-columns: var(--sidebar-width) minmax(min-content, 1fr);
  grid-template-rows: 75px 1fr;
  grid-template-areas: "header header"
                       "logins login";
}

@media (max-width: 830px) {
  body {
    --sidebar-width: 270px;
  }
}

header {
  display: flex;
  grid-area: header;
  align-items: center;
  background-color: var(--in-content-page-background);
  border-bottom: 1px solid var(--in-content-border-color);
  padding-inline-end: 23px;
}

login-filter {
  min-width: 200px;
  max-width: 400px;
  margin-inline: 40px auto;
  flex-grow: 0.5;
  align-self: center;
}

fxaccounts-button,
menu-button {
  margin-inline-start: 18px;
}

login-list {
  grid-area: logins;
}

:root:not(.initialized) login-intro,
:root:not(.initialized) login-item,
:root.empty-search login-intro,
:root:not(.no-logins, .empty-search, .login-selected) login-intro,
login-item[data-editing="true"] + login-intro,
.login-selected login-intro,
:root:not(.login-selected) login-item:not([data-editing="true"]),
.no-logins login-item:not([data-editing="true"]) {
  display: none;
}

login-intro,
login-item {
  grid-area: login;
}

/* Do not promote Mozilla Sync in Tor Browser. */
login-intro {
  display: none !important;
}

#branding-logo {
  flex-basis: var(--sidebar-width);
  flex-shrink: 0;
  height: 32px;
  -moz-context-properties: fill;
  fill: #20123a;
}

@media (-moz-toolbar-prefers-color-scheme: dark) {
  #branding-logo {
    fill: #fff;
  }
}

/* Hide "Firefox LockWise" branding in Tor Browser. */
#branding-logo {
  visibility: hidden;
}

:root:not(.master-password-auth-required) #master-password-required-overlay {
  display: none;
}

.master-password-auth-required > body > header,
.master-password-auth-required > body > login-list,
.master-password-auth-required > body > login-intro {
  filter: blur(2px)
}

#master-password-required-overlay {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
}
